body{
    padding: 20px;
}

.main{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: mediumseagreen;
}

.slider{
    background-color: black;
    
    padding: 20px;
}

.slider-h1{
    color: whitesmoke;
}

.white{
    color: antiquewhite;
}

td{
    padding: 10px;
}


.post_btn{
    float: right;
}
   
